# Ignore node_modules and build output
**/node_modules
**/dist
**/build

# Ignore environment files
*.env

# Ignore logs and temp files
**/*.log
**/npm-debug.log
**/yarn-debug.log
**/yarn-error.log
**/temp
**/tmp

# Ignore IDE and OS files
.vscode
.idea
.DS_Store
Thumbs.db

# Ignore Git-related files
.git
.gitignore

# Ignore Docker files that shouldn't be copied into image
docker-compose.*
Dockerfile
.dockerignore