bin/
obj/

.vs/
.vscode/
.idea/

appsettings.Development.json
appsettings.Production.json
appsettings.*.json
secrets.json

*.db
*.sqlite

Dockerfile

*.log
*.swp

.vs2019/
.vscode/
.idea/

node_modules/

.env

docker-build/